body
{
    background-color: #ffc700  /*#00ffe5 blue color*/;
}

/*navmenu*/
#nav
{
    display: flex;
    background-color: black;
    border-radius: 10px;
    
}

#nav li
{
    list-style: none;
    color:blueviolet;
    padding:12px 0px;
    padding-right: 12px;
}

#nav li a
{
    text-decoration: none;
}


.minfoc
{
    display: none;
    background-color : black;
    color : white;
    font-family: 'Comfortaa', cursive;
    padding : 3px 0px;
}

.epnumtell
{
    font-family: 'Comfortaa', cursive;
    margin : 6px 8px;
}

h1
{
    font-family: 'Bruno Ace SC', cursive;
    display: flex;
    justify-content: center;
    font-size: 56px;
}

.buttons
{
    background : none;
    border : none;
    text-decoration: underline;
    font-family: 'Comfortaa', cursive;
}

.fisth
{
    margin : 8px 25px;
}

.sections
{
    margin : 22px 0px;
}

.fisthx2
{
    margin : 20px 50px;
}

.codecage
{
    border :2px solid red;
    background-color : black;
}





















